DATABASE_URL="postgresql://adat:adat123@localhost:5432/adat_db?schema=public"
JWT_SECRET="jOrctRwqnFRKle_Jz0JV10CVYS7PHMH6J5jq8nkcMisFy90gPCAeAxgCXTlIcQGxBobXLZg_zZZEY1d6OgsKKw"
NEXT_PUBLIC_APP_URL="http://localhost:3000"